<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets & Fonts -->
    <link href="style.css" rel="stylesheet">
</head>

<body>
<!-- Begin content block. -->

        {{{body}}}


<!-- End content block. -->

</body>
</html>