<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets & Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
    <link href="../../public/style.css" rel="stylesheet">
    <link
</head>

<body>


<!-- Begin nav block. -->
<div class="nav_container">
    <div class="nav_content">
        <div class="title"><span>A Big Title</span></div>

        <!-- Begin menu bar.-->
        <div class="menu_buttons">
            <ul>
                <li><a href="#">Play Games</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Get Help</a></li>
            </ul>
        </div>
        <!-- End menu bar.-->

    </div>
</div>
<!-- End nav block. -->

<div class="spacer"></div>
<!-- Begin content block. -->
<div class="body_content_box">



    <div>
        <a href="category_cross_out">category-cross-out</a>
    </div>








</div>

<!-- End content block. -->
</body>
</html>