<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets & Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
    <link href="../../public/style.css" rel="stylesheet">
</head>

<body>
<!-- Begin nav block. -->
<div class="nav_container">

    <div class="title"><span>A Big Title</span></div>

    <div class="nav_buttons"><span>Play Games</span>
        <span>Contact Us</span>
        <span>Get Help</span>
    </div>

</div>

<!-- End nav block. -->


<!-- Begin content block. -->
<div class="body_content_box">
{{{body}}}
</div>

<!-- End content block. -->

</body>
</html>