<!DOCTYPE html>
<html>

<head>
    <!-- Stylesheets & Front-End JS & Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="guesstheword.js"></script>
</head>

<body>


<!-- Begin nav block. -->
<div class="nav_container">
    <div class="nav_content">
        <div class="title"><span>A Big Title</span></div>

        <!-- Begin menu bar.-->
        <div class="menu_buttons">
            <ul>
                <li><a href="/">Play Games</a></li>
                <li><a href="contact">Contact Us</a></li>
                <li><a href="help">Get Help</a></li>
            </ul>
        </div>
        <!-- End menu bar.-->

    </div>
</div>
<!-- End nav block. -->

<div class="spacer"></div>
<!-- Begin content block. -->
<div class="body_content_box">
    {{{body}}}
</div>

<!-- End content block. -->
</body>
</html>