<div id="front_cards">
    <div id="front_card_container">
            <div class="front_card construction_card">
                <div class="front_text_element">
                    <h3>Oh no!</h3>
                    <span>We're still working on getting that game up-and-running for you!</span>
                </div>
            </div>
    </div>
</div>