<!-- First Row -->
<div id="front_cards">
    <div id="front_card_container">

        <a href="guess_the_word">
            <div class="front_card word_card">
                <div class="front_text_element">
                    <h3>Guess the Word</h3>
                    <span>Choose your letters and spell out a secret word.</span>
                </div>
            </div>
        </a>


        <a href="category_cross_out">
            <div class="front_card category_card">
                <div class="front_text_element">
                    <h3>Category Cross Out</h3>
                    <span>Select a unique card that doesn't match the others.</span>
                </div>
            </div>
        </a>
    </div>
</div>

<!-- Second Row -->
<div id="front_cards">
    <div id="front_card_container">

        <a href="shape_match">
            <div class="front_card shape_card">
                <div class="front_text_element">
                    <h3>Shape Matcher</h3>
                    <span>Play with a friend and match different shapes.</span>
                </div>
            </div>
        </a>


        <a href="tip_of_my_tongue">
            <div class="front_card tongue_card">
                <div class="front_text_element">
                    <h3>Tip of My Tongue</h3>
                    <span>Choose the word that best describes the picture.</span>
                </div>
            </div>
        </a>


    </div>
</div>


</div>
</div>