<div>
    <a href="category_cross_out">category-cross-out</a>
</div>


<div>
    <a href="guess_the_word">hangman but not hangman</a>
</div>


<div>
    <a href="shape_match">shape matching game</a>
</div>