<div>
    <ul>
        <li><a href="category_cross_out">Category Cross Out</a></li>
        <li><a href="guess_the_word">Guess the Word</a></li>
        <li><a href="shape_match">Shape Matcher</a></li>
    </ul>
</div>