<h1>Guess the Word</h1>
<div class="tab">
    <button class="tablinks" onclick="openDifficulty(event, 'howto')" id="defaultOpen">How-To</button>
    <button class="tablinks" onclick="openDifficulty(event, 'easy')">Easy</button>
    <button class="tablinks" onclick="openDifficulty(event, 'medium')">Medium</button>
    <button class="tablinks" onclick="openDifficulty(event, 'hard')">Hard</button>
</div>


<div id="howto" class="tabcontent">
    <h3>HOW TO PLAY</h3>
    <p>
    <ul>Try to guess the hidden word.</ul>
    <ul>Every wrong answer, results in a bite to your apple.</ul>
    <ul>Don't let your apple get eaten!</ul>
    </p>
</div>

<div id="easy" class="tabcontent"></div>

<div id="medium" class="tabcontent"></div>

<div id="hard" class="tabcontent"></div>



