<h1>Not Hangman</h1>
	 <div class="tab">
	  <button class="tablinks" onclick="openDifficulty(event, 'howto')" id="defaultOpen">How-To</button>
	  <button class="tablinks" onclick="openDifficulty(event, 'easy')">Easy</button>
	  <button class="tablinks" onclick="openDifficulty(event, 'medium')">Medium</button>
	  <button class="tablinks" onclick="openDifficulty(event, 'hard')">Hard</button>
	</div>

	<!-- Tab content -->
	<div id="howto" class="tabcontent">
	  <h3>HOW TO PLAY</h3>
	  <p>
	  	<ul>Try to guess the hidden word. </ul>
	  	<ul>Every wrong answer, results in a bite to your apple. </ul>
	  	<ul>Don't let your apple get eaten!</ul>
	  </p>
	</div>

	<div id="easy" class="tabcontent">
	 	<h3>EASY</h3>
	</div>

	<div id="medium" class="tabcontent">
	  <h3>MEDIUM</h3>
	</div>

	<div id="hard" class="tabcontent">
	  <h3>HARD</h3>
	</div>


  <script src="public/guesstheword.js"></script>
