* {
    box-sizing: border-box;
}

/* Default page settings.*/
html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #000000;

    font-family: "Nunito", sans-serif;
    font-weight: 400;
}

/* Container for the elements in the navigation bar. Stretches bar across the page and provides background.*/
div.nav_container {
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 0px;

    background-color: #1A237E;
    color: #E3F2FD;

    /* Sets MD drop-down shadow.*/
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
}

/* Container for the two blocks of content in the nav. bar: title/logo & menu buttons.
   Centers the content and provides margins.*/
div.nav_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 80%;
}


/* Formatting for the title element. */
div.title {
    width: 70%;
    height: 100%;
    padding: 15px;
}

div.title span {
    font-weight: 600;
    font-size: 2.5em;
}


/* Formatting for the nav. bar's menu. */
div.menu_buttons {
    height: 100%;
    width: 30%;
}

div.menu_buttons > ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

div.menu_buttons > ul > li {
    height: 100%;
    list-style: none;
    flex-shrink: 0;
    flex-grow: 1;
}


div.menu_buttons > ul > li > a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #BBDEFB;
    font-weight: bold;
}

div.menu_buttons > ul > li > a:hover {
    background: #E3F2FD;
    color: #1A237E;
    font-weight: bold;
}

div.spacer{
    width: 100%;
    height: 20px;
}

div.body_content_box {
    width: 80%;
}


/* Styling for guess the word added below this point */
button.alphabet {
    padding: 5px;
    margin: 5px;
    font-size: 25px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 70%;
}


.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 70%;
}

#blanks {
    font-size: 60px;
    text-align: center;
    margin: 0px;

}

.wrapper{
    text-align: center;
}

#wordpool {
    width: 61%;
    text-align: center;
    padding: 10px;
    display:inline-block;
}


#reset{
    margin: 5px;
    padding: 10px;
    display: inline-block;
}

.cco_card_container.help{
    display: flex; flex-direction: rows; justify-content: center; align-items: center;
}


